body{
    width: 900px;
    margin-left: auto; /*内容居中*/
    margin-right: auto;
    margin-top: 0px;
    color: #444;    /*字体颜色*/
    background-color: rgb(217, 217, 217);
    position: relative; 
}
/*一级导航栏*/
.nav{
    list-style: none; /*去掉黑点*/
    padding: 0px;
    background-color: white;
    margin: 0px;
}
.nav>li{
    display: inline-block;  /*横向导航栏*/
    padding: 18px 12px 18px 12px;
}

li>img{
    height: 16px;
    margin-bottom: -3px;
}

.nav>li:hover {   /*鼠标移上去之后更改背景色*/ 
    background-color: rgb(221, 216, 216);
}

.nav>li>a{
    display: inline-block;
    padding: 18px 12px 18px 12px;
    
}
/*二级导航栏*/

.submenu{
    display: none; /*隐藏*/
    position: relative;z-index:10;/*保证二级导航栏在视频之上*/ 
    list-style: none;
    padding: 0px;
    position: absolute;
    background-color: white;
    margin-top: 17px;
    margin-left: -12px;
}
.nav>li>ul>li{
    padding: 18px 35px 18px 34px;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: #444;
}

.nav>li:hover ul{
    display: block;
}
.nav>li:hover ul>li{
    padding: 12px 0px 12px 0px;
}
.nav>li:hover ul>li:hover{
    background-color: rgb(221, 216, 216);
}


button{
    border: none;
    font-size: 15px;
    padding: 18px 35px 18px 39px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}
button:hover{
    background-color: rgb(221, 216, 216);
}

/* 最新动态 */
.divbgd1{
    background-color: rgba(255, 255, 255, 0.644);
}

div>img{
    width: 400px; /* 设置动态内的图片大小 */
}
.polaroid{
  background-color: white;
  width: 400px;
  margin-left: auto; /* 内容居中 */
  margin-right: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center; /* 内容居中 */
  padding: 10px 20px;
}
